In [55]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import math
%config InlineBackend.figure_format='svg'
from datetime import datetime as dt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression # importa o modelo

In [56]:
data = pd.read_csv("dataced.csv", delimiter=';')

In [57]:
def converter(old):
   return int(dt.strftime(dt.strptime(old, '%d/%m/%Y'), '%m'))

In [58]:
for i in range(0,132,1):
    data.Data[i] = converter(data.Data[i])

C:\Users\JoseNeto\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [59]:
data.head()

,Data,EvapoBHReal,InsolacaoTotal,PrecipitacaoTotal,TempMaximaMedia,TempMinimaMedia,UmidadeRelativaMedia,CasosDengue,ChuvasAcumuladas
0,1,62.8,273.2,18.9,36.0,24.5,62.0,1,27.8
1,2,96.0,243.5,114.5,35.1,23.7,61.4,3,68.3
2,3,111.3,207.0,307.3,35.1,23.8,65.2,29,384.3
3,4,86.3,265.0,97.7,33.6,23.6,68.1,99,47.5
4,5,63.0,217.2,28.2,32.6,23.0,70.1,128,20.7

In [123]:
# Variáveis 
atributos = ["Data","ChuvasAcumuladas", "TempMaximaMedia", "UmidadeRelativaMedia"]
label = ["CasosDengue"]

In [124]:
x = data[atributos]

In [125]:
y = data[label]

In [126]:
regr = LinearRegression()

In [127]:
regr.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [128]:
print("Coeficiente: ", regr.intercept_)
print("Número de Coeficiente: ", len(regr.coef_))

Coeficiente:  [-83.25423785]
Número de Coeficiente:  1

In [129]:
r2 = regr.score(x, y)
print('R2 no set de treino: %.2f' % r2)

R2 no set de treino: 0.15

# Utilizando o dataset filtrado pelo periodo da dengue em Patos

In [13]:
data2 = pd.read_csv("dataced_filter.csv", delimiter=';')

In [133]:
data2.head()

,Data,TempMaximaMedia,TempMinimaMedia,UmidadeRelativaMedia,CasosDengue,ChuvasAcumuladas
0,31/03/2005,35.1,23.8,65.2,29,384.3
1,30/04/2005,33.6,23.6,68.1,99,47.5
2,31/05/2005,32.6,23.0,70.1,128,20.7
3,30/06/2005,31.2,22.1,71.1,102,40.1
4,31/07/2005,32.7,20.9,62.1,71,0.0

In [134]:
for i in range(0,55,1):
    data2.Data[i] = converter(data2.Data[i])

C:\Users\JoseNeto\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [135]:
data2.head()

,Data,TempMaximaMedia,TempMinimaMedia,UmidadeRelativaMedia,CasosDengue,ChuvasAcumuladas
0,3,35.1,23.8,65.2,29,384.3
1,4,33.6,23.6,68.1,99,47.5
2,5,32.6,23.0,70.1,128,20.7
3,6,31.2,22.1,71.1,102,40.1
4,7,32.7,20.9,62.1,71,0.0

In [166]:
# Variáveis 
atributos2 = ["Data", "TempMaximaMedia","UmidadeRelativaMedia", "ChuvasAcumuladas"]
label2 = ["CasosDengue"]

In [167]:
x2 = data2[atributos2]

In [168]:
y2 = data2[label2]

In [169]:
regr2 = LinearRegression()

In [170]:
regr2.fit(x2,y2)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [171]:
print("Coeficiente: ", regr2.intercept_)
print("Número de Coeficiente: ", len(regr2.coef_))

Coeficiente:  [ 350.92376089]
Número de Coeficiente:  1

In [172]:
r2_2 = regr2.score(x2, y2)
print('R2 no set de treino: %.2f' % r2_2)

R2 no set de treino: 0.12